<!DOCTYPE html>
<!-- Coding By Kelompok5 -->
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Permainan Chaesar Chipper| CodingKelompok5</title>
        <link rel="stylesheet" href="style1.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/words.js" defer></script>
        <script src="js/script.js" defer></script>
    </head>
    <body>
        <div class="container">
            <h1> TEBAK KATA</h1>
            <h3> Tebaklah sususan huruf ' ' yang diberikan!</h3>
            <div class="content">
                <div class="details">
                    <p class="hint"><span></span></p>
                    <p class="time">Waktu Tersisa: <span><b>30</b>s</span></p>
                </div>
                <p class="word"></p>
                <input type="text" placeholder="Masukkan Kata">
                <div class="buttons">
                    <button class="refresh-word">Refresh-Word</button>
                    <button class="check-word">Check-Word</button>
                </div>
            </div>
        </div>
    </body>
</html>